<!DOCTYPE html>
<html lang="en">
<title>New Order</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>

    
    <body>
        

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="http://localhost:3000/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="http://localhost:3000/add-client" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ADD CLIENT</a>
    <a href="http://localhost:3000/add-commande" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEW ORDER</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">SIGN IN</a>
        <a href="#" class="w3-bar-item w3-button">REGISTER</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>


<tr>
</br>
</br>
</br>
</br>
<form class="add-commande-form" action="" method="post">
        <td width="340" align="right"><font color="#FF0000">Name</font></td>
        <td width="10">&nbsp;</td>
        <td width="200"><input type="text" name="Name" size="30" tabindex="1"></td>
        </tr>
        <tr>
        </br>
        </br>
        <td width="340" align="right"><font color="#FF0000">Email</font></td>
        <td width="10">&nbsp;</td>
        <td width="200"><input type="text" name="Email" size="30" tabindex="1"></td>
        </tr>
        <tr>
        </br>
        </br>
        <td width="340" align="right"><font color="#FF0000">Taux de remise</font></td>
        <td width="10">&nbsp;</td>
        <td width="200"><input type="text" name="Taux_Remise" size="30" tabindex="1"></td>
        </tr>
        <tr>
        </br>
        </br>
        <td width="340" align="right">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="200">&nbsp;</td>
        </tr>
        </table>
         
        <table border="0" cellpadding="0" width="550" id="table2">
         
    



          
        <tr>
          
        <td width="250" height="31"><b>Item Description</b></td>
        <td align="center" width="100" height="31"><b>Quantity</b></td>
        <td align="right" height="31" width="60"><b>Price </b></td>
        </tr>
        <tr>
          <select name="articles-select" id="articles-select">
          <option value="0">--Please choose an option--</option>
          <% articles.forEach(article => { %>
          <option value= <%= article.Prix %> ><%= article.Name %> </option>
          <% }) %>
        </select>
        
        <td align="center"></p></td>
        <td align="center" width="100">
        <td align="right" width="60"> </td>
        <td align="right" width="140">
          <p id="price"></p>
          <script>
            var drop = document.getElementById("articles-select");
              var price = document.getElementById("price");
              drop.onchange = function() {
              price.innerHTML = drop.value + "€";
              }
          </script>
          <p id="Description"></p>
          <script>
            var drop = document.getElementById("articles-select");
              var description = document.getElementById("Description");
              drop.onchange = function() {
              description.innerHTML = drop.value + ".";
              }
          </script>
        </tr>
        
        <tr>
        <td width="250">&nbsp;</td>
        <td align="center" width="100">&nbsp;</td>
        <td align="right" width="60">&nbsp;</td>
        <td align="right" width="140">&nbsp;</td>
        </tr>
        
        </table>
    
        <tr>
        </br>
        </br>
        <td width="340" align="right"><font color="#FF0000">Adresse</font></td>
        <td width="10">&nbsp;</td>
        <td width="200"><input type="text" name="Adresse" size="30" tabindex="1"></td>
        </tr>
    
        <table border="0" cellpadding="0" width="550" id="table3">
        
        <tr>
        </br>
        </br>   
        <td width="563">
        <p align="center">
        <input type="submit" value="Submit" name="subButton" tabindex="50">
        </tr>
        </table>
</form>
<form class="commande-list" action="/add-commande/commande-list" method="get">
  <a href="/add-commande/commande-list"></a><button class="btn btn-primary float-right">Liste des Commandes</button></form>
</form>
</br>
<form class="recherche-avancée" action="" method="post">
  <td width="340" align="right"><font color="#FF0000">Nom Client</font></td>
  <td width="10">&nbsp;</td>
  <td width="200"><input type="text" name="Nom_Client" size="15" tabindex="1"></td>
  <!--
  <tr><a href="/add-commande/recherchce-avancée"></a><button class="btn btn-primary float-right">Recherche avancée</button></tr>
  -->
  <input type="submit" value="Recherche" name="Recherche" tabindex="50">
<form action="/add-commande/commande-list" method="get">
  <a href="/add-commande/commande-list"></a><button class="btn btn-primary float-right">Commande list</button></form>
</form>

<!-- End Page Content -->
</div>
</body>
</html>





