<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style>
    body {
        font-family: "Lato", sans-serif
    }

    .mySlides {
        display: none
    }
</style>
<html class="supernova">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>New Order</title>
    <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.15564" rel="stylesheet" type="text/css" />
    <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.15564" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.15564" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?themeRevisionID=5dca5ac9a5e86d17235d90c1" />
    <style type="text/css">
        .form-label-left {
            width: 150px;
        }

        .form-line {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .form-label-right {
            width: 150px;
        }

        body,
        html {
            margin: 0;
            padding: 0;
            background: #fff;
        }

        .form-all {
            margin: 0px auto;
            padding-top: 0px;
            width: 690px;
            color: #555 !important;
            font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
            font-size: 14px;
        }

        .form-radio-item label,
        .form-checkbox-item label,
        .form-grading-label,
        .form-header {
            color: false;
        }
    </style>

    <style type="text/css" id="form-designer-style">
        /* Injected CSS Code */
        .form-label.form-label-auto {

            display: block;
            float: none;
            text-align: left;
            width: 100%;

        }

        /* Injected CSS Code */
    </style>
<script>
    function delete_item(o) {
        var table = document.getElementsByTagName('table')[0];            
        var i = o.parentNode.parentNode.rowIndex;

        table.deleteRow(i);
        priceUpdate();

    }

    function priceUpdate() {

        var total = document.getElementById("payment_total");
        var table = document.getElementsByTagName('table')[0];   
        var rowCount = table.rows.length;
        //console.log(rowCount);
        var sum=0;
        var sub;
        for (var i = 1; i < rowCount; i++){
            sub=table.children[0].children[i].children[2].innerHTML;
            //console.log(sub);
            sum+=parseFloat(sub);
        }
        total.innerHTML=sum+" €";
    }

        function quanti_change(obj) {
            var table = document.getElementsByTagName('table')[0];            
            var r = table.children[0].children[obj.parentNode.parentNode.rowIndex];
            var span = r.getElementsByTagName('span');

            var rowCount = table.rows.length;
            r.deleteCell(2);
            var c3 = r.insertCell(2);
            

            var quantity = obj.value;
            var price = span[0].id;
            var total = price * quantity;
            //console.log(quantity, price, total);
          //alert(obj.parentNode.parentNode.rowIndex);
            c3.innerHTML = total;
            priceUpdate();
            
        }

        var ins_after = function (obj) {
        obj = obj || window.event;
        event.preventDefault();

        var drop = document.getElementById("articles-select");
        var texte = drop.options[drop.selectedIndex].text;

        var table = document.getElementsByTagName('table')[0];
        var rowCount = table.rows.length;

        var spans = table.getElementsByTagName('span');

        var found=0;

        if (rowCount > 1){
        for (var i =1; i < rowCount; i++){
            if (texte == spans[i-1].innerHTML){
              found++;
            }
        }
      }
        if (found==0 && texte!="--Please choose an option--"){
          var r = table.insertRow(obj.parentNode.parentNode.rowIndex);
          var c1 = r.insertCell(0);
          var c2 = r.insertCell(1);
          r.insertCell(2);
          var c4 = r.insertCell(3);
          var c5 = r.insertCell(4);
          c1.innerHTML = "<span id='"+drop.value+"' name='"+texte+"'>"+texte+"</span>";
          c2.innerHTML = "<input name='"+texte+"' value='' onchange='quanti_change(this)'>";
          c4.innerHTML = "€";
          c5.innerHTML = "<button onclick='delete_item(this)'>Delete item</button>";
          //var quantity = document.getElementsByName("quantity");

          //alert(c1);
        }
      }
    </script>
    

</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="http://localhost:3000/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
            <a href="http://localhost:3000/add-client" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ADD
                CLIENT</a>
            <a href="http://localhost:3000/add-commande"
                class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEW ORDER</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="http://localhost:3000/login" class="w3-bar-item w3-button">SIGN IN</a>
                    <a href="#" class="w3-bar-item w3-button">REGISTER</a>
                </div>
            </div>
        </div>
    </div>
    <form class="add-commande-form" action="" method="post" accept-charset="utf-8" autocomplete="on">
        <div role="main" class="form-all">
            <ul class="form-section page-section">
                <li id="cid_1" class="form-input-wide" data-type="control_head">
                    <div class="form-header-group  header-large">
                        <div class="header-text httal htvam"><br />
                            <h1 id="header_1" class="form-header" data-component="header">
                                New Order
                            </h1>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_fullname">
                    <label class="form-label form-label-top"> Full Name </label>
                    <div class="form-input-wide">
                        <div data-wrapper-react="true">
                            <span class="form-sub-label-container " style="vertical-align:top">

                                <input type="text" id="firstName" name="firstName" class="form-textbox"
                                    size="10" value=""/>
                                <label class="form-sub-label" style="min-height:13px"> First Name </label>
                            </span>
                            <span class="form-sub-label-container " style="vertical-align:top">

                                <input type="text" id="lastName" name="lastName" class="form-textbox" size="15"
                                    value="" />
                                <label class="form-sub-label"  style="min-height:13px"> Last Name </label>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="form-line">
                    <label class="form-label form-label-top"> E-mail </label>
                    <div class="form-input-wide">
                        <input type="email" id="Email" name="Email" class="form-textbox validate[Email]" size="30"
                            value="" placeholder="ex: myname@example.com" data-component="email" />
                    </div>
                </li>
                <li class="form-line">
                    <label class="form-label form-label-top">Taux de Remise</label>
                    <div class="form-group col-md-4">
                        <input type="number" min="0" class="form-control" name="Taux_Remise" id="Taux_Remise" size="30"
                            value="" placeholder="Taux remise" />
                    </div>
                </li>
                <li class="form-line">
                    <label class="form-label form-label-top"> Catalogue </label>
                    <div class="form-input-wide">
                            <div data-wrapper-react="true">
                                    
                                    <select name="articles-select" id="articles-select">
                                            <option value="0">--Please choose an option--</option>
                                            <% articles.forEach(article => { %>
                                            <option value= <%= article.Prix %> ><%= article.Name %> </option>
                                            <% }) %>
                                    </select><br />
                                    <br />
                                    <table style="width:100%">
                                            <tr>
                                                <th>Produit</th>
                                                <th>Quantité</th>
                                                <th>Prix</th>
                                            </tr> 
                                    </table>
                                      
                                    <button onclick="ins_after(this);">Add Product</button>
                                    

                                    <td align="center">
                                        </p>
                                    </td>
                                    <td align="center" width="100">
                                    <td align="right" width="60">
                                    <td align="right" width="140">
                                    <td id="price"></td>
                                      <!--  <script>
                                        var drop = document.getElementById("articles-select");
                                        var price = document.getElementById("payment_total");
                                        drop.onchange = function () {
                                            price.innerHTML = "Price " + drop.value + "€";
                                        }
                                        </script> -->
                                    
                                        <br />
                                        <span class="form-payment-total">
                                            <b>
                                              <span id="total-text">
                                                  Total
                                                </span>

                                                <span class="form-payment-price">
                                                    <span data-wrapper-react="true">
                                                        
                                                        <span id="payment_total">
                                                           
                                                        </span>
                                                    </span>
                                                </span>
                                            </b>
                                        </span>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_address" id="id_4">
                    <label class="form-label form-label-top" id="label_4" for="input_4_addr_line1"> Billing Address
                    </label>
                    <div id="cid_4" class="form-input-wide">
                        <table summary="" class="form-address-table">
                            <tbody>
                                <tr>
                                    <td colSpan="2">
                                        <span class="form-sub-label-container " style="vertical-align:top">
                                            <input type="text" id="input_4_addr_line1"
                                                name="q4_billingAddress[addr_line1]"
                                                class="form-textbox form-address-line" value=""
                                                data-component="address_line_1"
                                                aria-labelledby="label_4 sublabel_4_addr_line1" />
                                            <label class="form-sub-label" for="input_4_addr_line1"
                                                id="sublabel_4_addr_line1" style="min-height:13px" aria-hidden="false">
                                                Street Address </label>
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="form-sub-label-container " style="vertical-align:top">
                                            <select class="form-dropdown form-address-country noTranslate"
                                                name="q4_billingAddress[country]" id="input_4_country"
                                                data-component="country" aria-labelledby="label_4 sublabel_4_country">
                                                <option value=""> Please Select </option>
                                                <option value="United States"> United States </option>
                                                <option value="Afghanistan"> Afghanistan </option>
                                                <option value="Albania"> Albania </option>
                                                <option value="Algeria"> Algeria </option>
                                                <option value="American Samoa"> American Samoa </option>
                                                <option value="Andorra"> Andorra </option>
                                                <option value="Angola"> Angola </option>
                                                <option value="Anguilla"> Anguilla </option>
                                                <option value="Antigua and Barbuda"> Antigua and Barbuda </option>
                                                <option value="Argentina"> Argentina </option>
                                                <option value="Armenia"> Armenia </option>
                                                <option value="Aruba"> Aruba </option>
                                                <option value="Australia"> Australia </option>
                                                <option value="Austria"> Austria </option>
                                                <option value="Azerbaijan"> Azerbaijan </option>
                                                <option value="The Bahamas"> The Bahamas </option>
                                                <option value="Bahrain"> Bahrain </option>
                                                <option value="Bangladesh"> Bangladesh </option>
                                                <option value="Barbados"> Barbados </option>
                                                <option value="Belarus"> Belarus </option>
                                                <option value="Belgium"> Belgium </option>
                                                <option value="Belize"> Belize </option>
                                                <option value="Benin"> Benin </option>
                                                <option value="Bermuda"> Bermuda </option>
                                                <option value="Bhutan"> Bhutan </option>
                                                <option value="Bolivia"> Bolivia </option>
                                                <option value="Bosnia and Herzegovina"> Bosnia and Herzegovina </option>
                                                <option value="Botswana"> Botswana </option>
                                                <option value="Brazil"> Brazil </option>
                                                <option value="Brunei"> Brunei </option>
                                                <option value="Bulgaria"> Bulgaria </option>
                                                <option value="Burkina Faso"> Burkina Faso </option>
                                                <option value="Burundi"> Burundi </option>
                                                <option value="Cambodia"> Cambodia </option>
                                                <option value="Cameroon"> Cameroon </option>
                                                <option value="Canada"> Canada </option>
                                                <option value="Cape Verde"> Cape Verde </option>
                                                <option value="Cayman Islands"> Cayman Islands </option>
                                                <option value="Central African Republic"> Central African Republic
                                                </option>
                                                <option value="Chad"> Chad </option>
                                                <option value="Chile"> Chile </option>
                                                <option value="China"> China </option>
                                                <option value="Christmas Island"> Christmas Island </option>
                                                <option value="Cocos (Keeling) Islands"> Cocos (Keeling) Islands
                                                </option>
                                                <option value="Colombia"> Colombia </option>
                                                <option value="Comoros"> Comoros </option>
                                                <option value="Congo"> Congo </option>
                                                <option value="Cook Islands"> Cook Islands </option>
                                                <option value="Costa Rica"> Costa Rica </option>
                                                <option value="Cote d&#x27;Ivoire"> Cote d&#x27;Ivoire </option>
                                                <option value="Croatia"> Croatia </option>
                                                <option value="Cuba"> Cuba </option>
                                                <option value="Cyprus"> Cyprus </option>
                                                <option value="Czech Republic"> Czech Republic </option>
                                                <option value="Democratic Republic of the Congo"> Democratic Republic of
                                                    the Congo </option>
                                                <option value="Denmark"> Denmark </option>
                                                <option value="Djibouti"> Djibouti </option>
                                                <option value="Dominica"> Dominica </option>
                                                <option value="Dominican Republic"> Dominican Republic </option>
                                                <option value="Ecuador"> Ecuador </option>
                                                <option value="Egypt"> Egypt </option>
                                                <option value="El Salvador"> El Salvador </option>
                                                <option value="Equatorial Guinea"> Equatorial Guinea </option>
                                                <option value="Eritrea"> Eritrea </option>
                                                <option value="Estonia"> Estonia </option>
                                                <option value="Ethiopia"> Ethiopia </option>
                                                <option value="Falkland Islands"> Falkland Islands </option>
                                                <option value="Faroe Islands"> Faroe Islands </option>
                                                <option value="Fiji"> Fiji </option>
                                                <option value="Finland"> Finland </option>
                                                <option value="France"> France </option>
                                                <option value="French Polynesia"> French Polynesia </option>
                                                <option value="Gabon"> Gabon </option>
                                                <option value="The Gambia"> The Gambia </option>
                                                <option value="Georgia"> Georgia </option>
                                                <option value="Germany"> Germany </option>
                                                <option value="Ghana"> Ghana </option>
                                                <option value="Gibraltar"> Gibraltar </option>
                                                <option value="Greece"> Greece </option>
                                                <option value="Greenland"> Greenland </option>
                                                <option value="Grenada"> Grenada </option>
                                                <option value="Guadeloupe"> Guadeloupe </option>
                                                <option value="Guam"> Guam </option>
                                                <option value="Guatemala"> Guatemala </option>
                                                <option value="Guernsey"> Guernsey </option>
                                                <option value="Guinea"> Guinea </option>
                                                <option value="Guinea-Bissau"> Guinea-Bissau </option>
                                                <option value="Guyana"> Guyana </option>
                                                <option value="Haiti"> Haiti </option>
                                                <option value="Honduras"> Honduras </option>
                                                <option value="Hong Kong"> Hong Kong </option>
                                                <option value="Hungary"> Hungary </option>
                                                <option value="Iceland"> Iceland </option>
                                                <option value="India"> India </option>
                                                <option value="Indonesia"> Indonesia </option>
                                                <option value="Iran"> Iran </option>
                                                <option value="Iraq"> Iraq </option>
                                                <option value="Ireland"> Ireland </option>
                                                <option value="Israel"> Israel </option>
                                                <option value="Italy"> Italy </option>
                                                <option value="Jamaica"> Jamaica </option>
                                                <option value="Japan"> Japan </option>
                                                <option value="Jersey"> Jersey </option>
                                                <option value="Jordan"> Jordan </option>
                                                <option value="Kazakhstan"> Kazakhstan </option>
                                                <option value="Kenya"> Kenya </option>
                                                <option value="Kiribati"> Kiribati </option>
                                                <option value="North Korea"> North Korea </option>
                                                <option value="South Korea"> South Korea </option>
                                                <option value="Kosovo"> Kosovo </option>
                                                <option value="Kuwait"> Kuwait </option>
                                                <option value="Kyrgyzstan"> Kyrgyzstan </option>
                                                <option value="Laos"> Laos </option>
                                                <option value="Latvia"> Latvia </option>
                                                <option value="Lebanon"> Lebanon </option>
                                                <option value="Lesotho"> Lesotho </option>
                                                <option value="Liberia"> Liberia </option>
                                                <option value="Libya"> Libya </option>
                                                <option value="Liechtenstein"> Liechtenstein </option>
                                                <option value="Lithuania"> Lithuania </option>
                                                <option value="Luxembourg"> Luxembourg </option>
                                                <option value="Macau"> Macau </option>
                                                <option value="Macedonia"> Macedonia </option>
                                                <option value="Madagascar"> Madagascar </option>
                                                <option value="Malawi"> Malawi </option>
                                                <option value="Malaysia"> Malaysia </option>
                                                <option value="Maldives"> Maldives </option>
                                                <option value="Mali"> Mali </option>
                                                <option value="Malta"> Malta </option>
                                                <option value="Marshall Islands"> Marshall Islands </option>
                                                <option value="Martinique"> Martinique </option>
                                                <option value="Mauritania"> Mauritania </option>
                                                <option value="Mauritius"> Mauritius </option>
                                                <option value="Mayotte"> Mayotte </option>
                                                <option value="Mexico"> Mexico </option>
                                                <option value="Micronesia"> Micronesia </option>
                                                <option value="Moldova"> Moldova </option>
                                                <option value="Monaco"> Monaco </option>
                                                <option value="Mongolia"> Mongolia </option>
                                                <option value="Montenegro"> Montenegro </option>
                                                <option value="Montserrat"> Montserrat </option>
                                                <option value="Morocco"> Morocco </option>
                                                <option value="Mozambique"> Mozambique </option>
                                                <option value="Myanmar"> Myanmar </option>
                                                <option value="Nagorno-Karabakh"> Nagorno-Karabakh </option>
                                                <option value="Namibia"> Namibia </option>
                                                <option value="Nauru"> Nauru </option>
                                                <option value="Nepal"> Nepal </option>
                                                <option value="Netherlands"> Netherlands </option>
                                                <option value="Netherlands Antilles"> Netherlands Antilles </option>
                                                <option value="New Caledonia"> New Caledonia </option>
                                                <option value="New Zealand"> New Zealand </option>
                                                <option value="Nicaragua"> Nicaragua </option>
                                                <option value="Niger"> Niger </option>
                                                <option value="Nigeria"> Nigeria </option>
                                                <option value="Niue"> Niue </option>
                                                <option value="Norfolk Island"> Norfolk Island </option>
                                                <option value="Turkish Republic of Northern Cyprus"> Turkish Republic of
                                                    Northern Cyprus </option>
                                                <option value="Northern Mariana"> Northern Mariana </option>
                                                <option value="Norway"> Norway </option>
                                                <option value="Oman"> Oman </option>
                                                <option value="Pakistan"> Pakistan </option>
                                                <option value="Palau"> Palau </option>
                                                <option value="Palestine"> Palestine </option>
                                                <option value="Panama"> Panama </option>
                                                <option value="Papua New Guinea"> Papua New Guinea </option>
                                                <option value="Paraguay"> Paraguay </option>
                                                <option value="Peru"> Peru </option>
                                                <option value="Philippines"> Philippines </option>
                                                <option value="Pitcairn Islands"> Pitcairn Islands </option>
                                                <option value="Poland"> Poland </option>
                                                <option value="Portugal"> Portugal </option>
                                                <option value="Puerto Rico"> Puerto Rico </option>
                                                <option value="Qatar"> Qatar </option>
                                                <option value="Republic of the Congo"> Republic of the Congo </option>
                                                <option value="Romania"> Romania </option>
                                                <option value="Russia"> Russia </option>
                                                <option value="Rwanda"> Rwanda </option>
                                                <option value="Saint Barthelemy"> Saint Barthelemy </option>
                                                <option value="Saint Helena"> Saint Helena </option>
                                                <option value="Saint Kitts and Nevis"> Saint Kitts and Nevis </option>
                                                <option value="Saint Lucia"> Saint Lucia </option>
                                                <option value="Saint Martin"> Saint Martin </option>
                                                <option value="Saint Pierre and Miquelon"> Saint Pierre and Miquelon
                                                </option>
                                                <option value="Saint Vincent and the Grenadines"> Saint Vincent and the
                                                    Grenadines </option>
                                                <option value="Samoa"> Samoa </option>
                                                <option value="San Marino"> San Marino </option>
                                                <option value="Sao Tome and Principe"> Sao Tome and Principe </option>
                                                <option value="Saudi Arabia"> Saudi Arabia </option>
                                                <option value="Senegal"> Senegal </option>
                                                <option value="Serbia"> Serbia </option>
                                                <option value="Seychelles"> Seychelles </option>
                                                <option value="Sierra Leone"> Sierra Leone </option>
                                                <option value="Singapore"> Singapore </option>
                                                <option value="Slovakia"> Slovakia </option>
                                                <option value="Slovenia"> Slovenia </option>
                                                <option value="Solomon Islands"> Solomon Islands </option>
                                                <option value="Somalia"> Somalia </option>
                                                <option value="Somaliland"> Somaliland </option>
                                                <option value="South Africa"> South Africa </option>
                                                <option value="South Ossetia"> South Ossetia </option>
                                                <option value="South Sudan"> South Sudan </option>
                                                <option value="Spain"> Spain </option>
                                                <option value="Sri Lanka"> Sri Lanka </option>
                                                <option value="Sudan"> Sudan </option>
                                                <option value="Suriname"> Suriname </option>
                                                <option value="Svalbard"> Svalbard </option>
                                                <option value="eSwatini"> eSwatini </option>
                                                <option value="Sweden"> Sweden </option>
                                                <option value="Switzerland"> Switzerland </option>
                                                <option value="Syria"> Syria </option>
                                                <option value="Taiwan"> Taiwan </option>
                                                <option value="Tajikistan"> Tajikistan </option>
                                                <option value="Tanzania"> Tanzania </option>
                                                <option value="Thailand"> Thailand </option>
                                                <option value="Timor-Leste"> Timor-Leste </option>
                                                <option value="Togo"> Togo </option>
                                                <option value="Tokelau"> Tokelau </option>
                                                <option value="Tonga"> Tonga </option>
                                                <option value="Transnistria Pridnestrovie"> Transnistria Pridnestrovie
                                                </option>
                                                <option value="Trinidad and Tobago"> Trinidad and Tobago </option>
                                                <option value="Tristan da Cunha"> Tristan da Cunha </option>
                                                <option value="Tunisia"> Tunisia </option>
                                                <option value="Turkey"> Turkey </option>
                                                <option value="Turkmenistan"> Turkmenistan </option>
                                                <option value="Turks and Caicos Islands"> Turks and Caicos Islands
                                                </option>
                                                <option value="Tuvalu"> Tuvalu </option>
                                                <option value="Uganda"> Uganda </option>
                                                <option value="Ukraine"> Ukraine </option>
                                                <option value="United Arab Emirates"> United Arab Emirates </option>
                                                <option value="United Kingdom"> United Kingdom </option>
                                                <option value="Uruguay"> Uruguay </option>
                                                <option value="Uzbekistan"> Uzbekistan </option>
                                                <option value="Vanuatu"> Vanuatu </option>
                                                <option value="Vatican City"> Vatican City </option>
                                                <option value="Venezuela"> Venezuela </option>
                                                <option value="Vietnam"> Vietnam </option>
                                                <option value="British Virgin Islands"> British Virgin Islands </option>
                                                <option value="Isle of Man"> Isle of Man </option>
                                                <option value="US Virgin Islands"> US Virgin Islands </option>
                                                <option value="Wallis and Futuna"> Wallis and Futuna </option>
                                                <option value="Western Sahara"> Western Sahara </option>
                                                <option value="Yemen"> Yemen </option>
                                                <option value="Zambia"> Zambia </option>
                                                <option value="Zimbabwe"> Zimbabwe </option>
                                                <option value="other"> Other </option>
                                            </select>
                                            <label class="form-sub-label" for="input_4_country" id="sublabel_4_country"
                                                style="min-height:13px" aria-hidden="false"> Country </label>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="form-line" data-type="control_address" id="id_10">
                    <label class="form-label form-label-top" id="label_10" for="input_10undefined"> Shipping Adress
                    </label>
                    <div id="cid_10" class="form-input-wide">
                        <table summary="" class="form-address-table">
                            <tbody>
                                <tr>
                                    <td colSpan="2">
                                        <span class="form-sub-label-container " style="vertical-align:top">
                                            <input type="text" id="input_10_addr_line1"
                                                name="q10_shippingAdress[addr_line1]"
                                                class="form-textbox form-address-line" value=""
                                                data-component="address_line_1"
                                                aria-labelledby="label_10 sublabel_10_addr_line1" />
                                            <label class="form-sub-label" for="input_10_addr_line1"
                                                id="sublabel_10_addr_line1" style="min-height:13px" aria-hidden="false">
                                                Street Address </label>
                                        </span>
                                    </td>
                                </tr>
                                <td>
                                    <span class="form-sub-label-container " style="vertical-align:top">
                                        <select class="form-dropdown form-address-country noTranslate"
                                            name="q10_shippingAdress[country]" id="input_10_country"
                                            data-component="country" aria-labelledby="label_10 sublabel_10_country">
                                            <option value=""> Please Select </option>
                                            <option value="United States"> United States </option>
                                            <option value="Afghanistan"> Afghanistan </option>
                                            <option value="Albania"> Albania </option>
                                            <option value="Algeria"> Algeria </option>
                                            <option value="American Samoa"> American Samoa </option>
                                            <option value="Andorra"> Andorra </option>
                                            <option value="Angola"> Angola </option>
                                            <option value="Anguilla"> Anguilla </option>
                                            <option value="Antigua and Barbuda"> Antigua and Barbuda </option>
                                            <option value="Argentina"> Argentina </option>
                                            <option value="Armenia"> Armenia </option>
                                            <option value="Aruba"> Aruba </option>
                                            <option value="Australia"> Australia </option>
                                            <option value="Austria"> Austria </option>
                                            <option value="Azerbaijan"> Azerbaijan </option>
                                            <option value="The Bahamas"> The Bahamas </option>
                                            <option value="Bahrain"> Bahrain </option>
                                            <option value="Bangladesh"> Bangladesh </option>
                                            <option value="Barbados"> Barbados </option>
                                            <option value="Belarus"> Belarus </option>
                                            <option value="Belgium"> Belgium </option>
                                            <option value="Belize"> Belize </option>
                                            <option value="Benin"> Benin </option>
                                            <option value="Bermuda"> Bermuda </option>
                                            <option value="Bhutan"> Bhutan </option>
                                            <option value="Bolivia"> Bolivia </option>
                                            <option value="Bosnia and Herzegovina"> Bosnia and Herzegovina </option>
                                            <option value="Botswana"> Botswana </option>
                                            <option value="Brazil"> Brazil </option>
                                            <option value="Brunei"> Brunei </option>
                                            <option value="Bulgaria"> Bulgaria </option>
                                            <option value="Burkina Faso"> Burkina Faso </option>
                                            <option value="Burundi"> Burundi </option>
                                            <option value="Cambodia"> Cambodia </option>
                                            <option value="Cameroon"> Cameroon </option>
                                            <option value="Canada"> Canada </option>
                                            <option value="Cape Verde"> Cape Verde </option>
                                            <option value="Cayman Islands"> Cayman Islands </option>
                                            <option value="Central African Republic"> Central African Republic </option>
                                            <option value="Chad"> Chad </option>
                                            <option value="Chile"> Chile </option>
                                            <option value="China"> China </option>
                                            <option value="Christmas Island"> Christmas Island </option>
                                            <option value="Cocos (Keeling) Islands"> Cocos (Keeling) Islands </option>
                                            <option value="Colombia"> Colombia </option>
                                            <option value="Comoros"> Comoros </option>
                                            <option value="Congo"> Congo </option>
                                            <option value="Cook Islands"> Cook Islands </option>
                                            <option value="Costa Rica"> Costa Rica </option>
                                            <option value="Cote d&#x27;Ivoire"> Cote d&#x27;Ivoire </option>
                                            <option value="Croatia"> Croatia </option>
                                            <option value="Cuba"> Cuba </option>
                                            <option value="Cyprus"> Cyprus </option>
                                            <option value="Czech Republic"> Czech Republic </option>
                                            <option value="Democratic Republic of the Congo"> Democratic Republic of the
                                                Congo </option>
                                            <option value="Denmark"> Denmark </option>
                                            <option value="Djibouti"> Djibouti </option>
                                            <option value="Dominica"> Dominica </option>
                                            <option value="Dominican Republic"> Dominican Republic </option>
                                            <option value="Ecuador"> Ecuador </option>
                                            <option value="Egypt"> Egypt </option>
                                            <option value="El Salvador"> El Salvador </option>
                                            <option value="Equatorial Guinea"> Equatorial Guinea </option>
                                            <option value="Eritrea"> Eritrea </option>
                                            <option value="Estonia"> Estonia </option>
                                            <option value="Ethiopia"> Ethiopia </option>
                                            <option value="Falkland Islands"> Falkland Islands </option>
                                            <option value="Faroe Islands"> Faroe Islands </option>
                                            <option value="Fiji"> Fiji </option>
                                            <option value="Finland"> Finland </option>
                                            <option value="France"> France </option>
                                            <option value="French Polynesia"> French Polynesia </option>
                                            <option value="Gabon"> Gabon </option>
                                            <option value="The Gambia"> The Gambia </option>
                                            <option value="Georgia"> Georgia </option>
                                            <option value="Germany"> Germany </option>
                                            <option value="Ghana"> Ghana </option>
                                            <option value="Gibraltar"> Gibraltar </option>
                                            <option value="Greece"> Greece </option>
                                            <option value="Greenland"> Greenland </option>
                                            <option value="Grenada"> Grenada </option>
                                            <option value="Guadeloupe"> Guadeloupe </option>
                                            <option value="Guam"> Guam </option>
                                            <option value="Guatemala"> Guatemala </option>
                                            <option value="Guernsey"> Guernsey </option>
                                            <option value="Guinea"> Guinea </option>
                                            <option value="Guinea-Bissau"> Guinea-Bissau </option>
                                            <option value="Guyana"> Guyana </option>
                                            <option value="Haiti"> Haiti </option>
                                            <option value="Honduras"> Honduras </option>
                                            <option value="Hong Kong"> Hong Kong </option>
                                            <option value="Hungary"> Hungary </option>
                                            <option value="Iceland"> Iceland </option>
                                            <option value="India"> India </option>
                                            <option value="Indonesia"> Indonesia </option>
                                            <option value="Iran"> Iran </option>
                                            <option value="Iraq"> Iraq </option>
                                            <option value="Ireland"> Ireland </option>
                                            <option value="Israel"> Israel </option>
                                            <option value="Italy"> Italy </option>
                                            <option value="Jamaica"> Jamaica </option>
                                            <option value="Japan"> Japan </option>
                                            <option value="Jersey"> Jersey </option>
                                            <option value="Jordan"> Jordan </option>
                                            <option value="Kazakhstan"> Kazakhstan </option>
                                            <option value="Kenya"> Kenya </option>
                                            <option value="Kiribati"> Kiribati </option>
                                            <option value="North Korea"> North Korea </option>
                                            <option value="South Korea"> South Korea </option>
                                            <option value="Kosovo"> Kosovo </option>
                                            <option value="Kuwait"> Kuwait </option>
                                            <option value="Kyrgyzstan"> Kyrgyzstan </option>
                                            <option value="Laos"> Laos </option>
                                            <option value="Latvia"> Latvia </option>
                                            <option value="Lebanon"> Lebanon </option>
                                            <option value="Lesotho"> Lesotho </option>
                                            <option value="Liberia"> Liberia </option>
                                            <option value="Libya"> Libya </option>
                                            <option value="Liechtenstein"> Liechtenstein </option>
                                            <option value="Lithuania"> Lithuania </option>
                                            <option value="Luxembourg"> Luxembourg </option>
                                            <option value="Macau"> Macau </option>
                                            <option value="Macedonia"> Macedonia </option>
                                            <option value="Madagascar"> Madagascar </option>
                                            <option value="Malawi"> Malawi </option>
                                            <option value="Malaysia"> Malaysia </option>
                                            <option value="Maldives"> Maldives </option>
                                            <option value="Mali"> Mali </option>
                                            <option value="Malta"> Malta </option>
                                            <option value="Marshall Islands"> Marshall Islands </option>
                                            <option value="Martinique"> Martinique </option>
                                            <option value="Mauritania"> Mauritania </option>
                                            <option value="Mauritius"> Mauritius </option>
                                            <option value="Mayotte"> Mayotte </option>
                                            <option value="Mexico"> Mexico </option>
                                            <option value="Micronesia"> Micronesia </option>
                                            <option value="Moldova"> Moldova </option>
                                            <option value="Monaco"> Monaco </option>
                                            <option value="Mongolia"> Mongolia </option>
                                            <option value="Montenegro"> Montenegro </option>
                                            <option value="Montserrat"> Montserrat </option>
                                            <option value="Morocco"> Morocco </option>
                                            <option value="Mozambique"> Mozambique </option>
                                            <option value="Myanmar"> Myanmar </option>
                                            <option value="Nagorno-Karabakh"> Nagorno-Karabakh </option>
                                            <option value="Namibia"> Namibia </option>
                                            <option value="Nauru"> Nauru </option>
                                            <option value="Nepal"> Nepal </option>
                                            <option value="Netherlands"> Netherlands </option>
                                            <option value="Netherlands Antilles"> Netherlands Antilles </option>
                                            <option value="New Caledonia"> New Caledonia </option>
                                            <option value="New Zealand"> New Zealand </option>
                                            <option value="Nicaragua"> Nicaragua </option>
                                            <option value="Niger"> Niger </option>
                                            <option value="Nigeria"> Nigeria </option>
                                            <option value="Niue"> Niue </option>
                                            <option value="Norfolk Island"> Norfolk Island </option>
                                            <option value="Turkish Republic of Northern Cyprus"> Turkish Republic of
                                                Northern Cyprus </option>
                                            <option value="Northern Mariana"> Northern Mariana </option>
                                            <option value="Norway"> Norway </option>
                                            <option value="Oman"> Oman </option>
                                            <option value="Pakistan"> Pakistan </option>
                                            <option value="Palau"> Palau </option>
                                            <option value="Palestine"> Palestine </option>
                                            <option value="Panama"> Panama </option>
                                            <option value="Papua New Guinea"> Papua New Guinea </option>
                                            <option value="Paraguay"> Paraguay </option>
                                            <option value="Peru"> Peru </option>
                                            <option value="Philippines"> Philippines </option>
                                            <option value="Pitcairn Islands"> Pitcairn Islands </option>
                                            <option value="Poland"> Poland </option>
                                            <option value="Portugal"> Portugal </option>
                                            <option value="Puerto Rico"> Puerto Rico </option>
                                            <option value="Qatar"> Qatar </option>
                                            <option value="Republic of the Congo"> Republic of the Congo </option>
                                            <option value="Romania"> Romania </option>
                                            <option value="Russia"> Russia </option>
                                            <option value="Rwanda"> Rwanda </option>
                                            <option value="Saint Barthelemy"> Saint Barthelemy </option>
                                            <option value="Saint Helena"> Saint Helena </option>
                                            <option value="Saint Kitts and Nevis"> Saint Kitts and Nevis </option>
                                            <option value="Saint Lucia"> Saint Lucia </option>
                                            <option value="Saint Martin"> Saint Martin </option>
                                            <option value="Saint Pierre and Miquelon"> Saint Pierre and Miquelon
                                            </option>
                                            <option value="Saint Vincent and the Grenadines"> Saint Vincent and the
                                                Grenadines </option>
                                            <option value="Samoa"> Samoa </option>
                                            <option value="San Marino"> San Marino </option>
                                            <option value="Sao Tome and Principe"> Sao Tome and Principe </option>
                                            <option value="Saudi Arabia"> Saudi Arabia </option>
                                            <option value="Senegal"> Senegal </option>
                                            <option value="Serbia"> Serbia </option>
                                            <option value="Seychelles"> Seychelles </option>
                                            <option value="Sierra Leone"> Sierra Leone </option>
                                            <option value="Singapore"> Singapore </option>
                                            <option value="Slovakia"> Slovakia </option>
                                            <option value="Slovenia"> Slovenia </option>
                                            <option value="Solomon Islands"> Solomon Islands </option>
                                            <option value="Somalia"> Somalia </option>
                                            <option value="Somaliland"> Somaliland </option>
                                            <option value="South Africa"> South Africa </option>
                                            <option value="South Ossetia"> South Ossetia </option>
                                            <option value="South Sudan"> South Sudan </option>
                                            <option value="Spain"> Spain </option>
                                            <option value="Sri Lanka"> Sri Lanka </option>
                                            <option value="Sudan"> Sudan </option>
                                            <option value="Suriname"> Suriname </option>
                                            <option value="Svalbard"> Svalbard </option>
                                            <option value="eSwatini"> eSwatini </option>
                                            <option value="Sweden"> Sweden </option>
                                            <option value="Switzerland"> Switzerland </option>
                                                <option value="Syria"> Syria </option>
                                                <option value="Taiwan"> Taiwan </option>
                                            <option value="Tajikistan"> Tajikistan </option>
                                            <option value="Tanzania"> Tanzania </option>
                                            <option value="Thailand"> Thailand </option>
                                            <option value="Timor-Leste"> Timor-Leste </option>
                                            <option value="Togo"> Togo </option>
                                            <option value="Tokelau"> Tokelau </option>
                                            <option value="Tonga"> Tonga </option>
                                            <option value="Transnistria Pridnestrovie"> Transnistria Pridnestrovie
                                            </option>
                                            <option value="Trinidad and Tobago"> Trinidad and Tobago </option>
                                            <option value="Tristan da Cunha"> Tristan da Cunha </option>
                                            <option value="Tunisia"> Tunisia </option>
                                            <option value="Turkey"> Turkey </option>
                                            <option value="Turkmenistan"> Turkmenistan </option>
                                            <option value="Turks and Caicos Islands"> Turks and Caicos Islands </option>
                                            <option value="Tuvalu"> Tuvalu </option>
                                            <option value="Uganda"> Uganda </option>
                                            <option value="Ukraine"> Ukraine </option>
                                            <option value="United Arab Emirates"> United Arab Emirates </option>
                                            <option value="United Kingdom"> United Kingdom </option>
                                            <option value="Uruguay"> Uruguay </option>
                                            <option value="Uzbekistan"> Uzbekistan </option>
                                            <option value="Vanuatu"> Vanuatu </option>
                                            <option value="Vatican City"> Vatican City </option>
                                            <option value="Venezuela"> Venezuela </option>
                                            <option value="Vietnam"> Vietnam </option>
                                            <option value="British Virgin Islands"> British Virgin Islands </option>
                                            <option value="Isle of Man"> Isle of Man </option>
                                            <option value="US Virgin Islands"> US Virgin Islands </option>
                                            <option value="Wallis and Futuna"> Wallis and Futuna </option>
                                            <option value="Western Sahara"> Western Sahara </option>
                                            <option value="Yemen"> Yemen </option>
                                            <option value="Zambia"> Zambia </option>
                                            <option value="Zimbabwe"> Zimbabwe </option>
                                            <option value="other"> Other </option>
                                        </select>
                                        <label class="form-sub-label" for="input_10_country" id="sublabel_10_country"
                                            style="min-height:13px" aria-hidden="false"> Country </label>
                                    </span>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="form-line" data-type="control_button" id="id_13">
                    <div id="cid_13" class="form-input-wide">
                        <div style="text-align:center" data-align="center"
                            class="form-buttons-wrapper paypal-submit-container">
                            <div class="paypal-submit-button-wrapper">
                            </div>
                            <button type="submit" class="form-submit-button" value="Submit" name="subButton">
                                Submit Order
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
   
</body>

</html>
