<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        font-family: "Lato", sans-serif
    }

    .mySlides {
        display: none
    }
</style>
<html class="supernova">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/json+oembed"
        href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F200504705421340"
        title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed"
        href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F200504705421340"
        title="oEmbed Form">
    <meta property="og:title" content="New Client">
    <meta name="slack-app-id" content="AHNMASS8M">
    <link rel="canonical" href="https://form.jotform.com/200504705421340" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>New Client</title>
    <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.15564" rel="stylesheet" type="text/css" />
    <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.15564" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.15564" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?themeRevisionID=5dca5ac9a5e86d17235d90c1" />
    <style type="text/css">
        

        .form-label-left {
            width: 150px;
        }

        .form-line {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .form-label-right {
            width: 150px;
        }

        body,
        html {
            margin: 0;
            padding: 0;
            background: #fff;
        }

        .form-all {
            margin: 0px auto;
            padding-top: 0px;
            width: 690px;
            color: #555 !important;
            font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
            font-size: 14px;
        }

        .form-radio-item label,
        .form-checkbox-item label,
        .form-grading-label,
        .form-header {
            color: false;
        }
    </style>

    <style type="text/css" id="form-designer-style">
        /* Injected CSS Code */
        .form-label.form-label-auto {

            display: block;
            float: none;
            text-align: left;
            width: 100%;

        }

        /* Injected CSS Code */
    </style>

    
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="http://localhost:3000/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
            <a href="http://localhost:3000/add-client" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ADD
                CLIENT</a>
            <a href="http://localhost:3000/add-commande"
                class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEW ORDER</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="http://localhost:3000/login" class="w3-bar-item w3-button">SIGN IN</a>
                    <a href="#" class="w3-bar-item w3-button">REGISTER</a>
                </div>
            </div>
            <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i
                    class="fa fa-search"></i></a>
        </div>
    </div>
    </br>
    </br>
    </br>
    <form class="add-client-form" action="" method="post"
        name="form_200504705421340" id="200504705421340" accept-charset="utf-8" autocomplete="on">
        <div role="main" class="form-all">
            <ul class="form-section page-section">
                <li id="cid_1" class="form-input-wide" data-type="control_head">
                    <div class="form-header-group  header-large">
                        <div class="header-text httal htvam">
                            <h1 id="header_1" class="form-header" data-component="header">
                                New Client
                            </h1>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_fullname" id="id_2">
                    <label class="form-label form-label-top" id="label_2" for="first_2"> Full Name </label>
                    <div id="cid_2" class="form-input-wide">
                        <div data-wrapper-react="true">
                            <span class="form-sub-label-container " style="vertical-align:top">
                                <input type="text" id="firstName" name="firstName" class="form-textbox"
                                    size="10" value="" data-component="firstName"
                                    aria-labelledby="label_2 sublabel_2_first" required/>
                                <label class="form-sub-label" for="first_2" id="sublabel_2_first"
                                    style="min-height:13px" aria-hidden="false"> First Name </label>
                            </span>
                            <span class="form-sub-label-container " style="vertical-align:top">
                                <input type="text" id="lastName" name="lastName" class="form-textbox" size="15"
                                    value="" data-component="lastName" aria-labelledby="label_2 sublabel_2_last" required/>
                                <label class="form-sub-label" for="last_2" id="sublabel_2_last" style="min-height:13px"
                                    aria-hidden="false"> Last Name </label>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_fullname" id="id_2">
                    <label class="form-label form-label-top" id="label_2" for="first_2">Taux de remise</label>
                    <div id="cid_2" class="form-input-wide">
                        <div data-wrapper-react="true">
                            <span class="form-sub-label-container " style="vertical-align:top">
                                <input type="text" id="taux_remise" name="taux_remise" class="form-textbox"
                                    size="10" value="" data-component="taux_remise"
                                    aria-labelledby="label_2 sublabel_2_first" required/>
                                <label class="form-sub-label" for="first_2" id="sublabel_2_first"
                                    style="min-height:13px" aria-hidden="false"> Taux de remise </label>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_button" id="id_13">
                    <div id="cid_13" class="form-input-wide">
                        <div style="text-align:center" data-align="center"
                            class="form-buttons-wrapper paypal-submit-container">
                            <div class="paypal-submit-button-wrapper">
                            </div>
                            <button id="input_13" type="submit" class="form-submit-button" data-component="button"
                                data-content="">
                                ADD NEW CLIENT
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>



                <!--
                <div class="container">

                    <form class="add-client-form" action="" method="post">
                        </br>
                        </br>
                        </br>
                        </br>
                        <div align="center">
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" name="firstName" id="firstName"
                                    placeholder="First Name" required>
                            </div>
                            <div class="form-group col-md-4">

                                <input type="text" class="form-control" name="lastName" id="lastName"
                                    placeholder="Last Name" required>

                            </div>
                            <div class="form-group col-md-4">
                                <input type="number" min="0" class="form-control" name="taux_remise" id="taux_remise"
                                    placeholder="Taux remise" required>

                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" min="0" class="form-control" name="Role" id="Role" placeholder="Role"
                                    required>

                            </div>
                            <div class="form-group col-md-4">
                                <button type="submit" class="btn btn-primary float-right">Add Client</button>
                            </div>
                        </div>
                    </form>

                    <form class="client-list" action="/add-client/client-list" method="get">
                        <div>
                            <a href="/add-client/client-list"></a><button class="btn btn-primary float-right">Client
                                list</button>
                        </div>
                    </form>
                </div>
        </div>

        --->


</body>

</html>