<!DOCTYPE html>
<html lang="en">
<title>Order List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="http://localhost:3000/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="http://localhost:3000/add-client" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ADD CLIENT</a>
    <a href="http://localhost:3000/add-commande" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEW ORDER</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="http://localhost:3000/login" class="w3-bar-item w3-button">SIGN IN</a>
        <a href="#" class="w3-bar-item w3-button">REGISTER</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>
</br>
</br>
</br>
    <main>
      <h1>Liste des Commandes</h1>
      <table>
        <thead>
          <tr>
            <th>Client Name</th>
            <th>Client email</th>
            <th>Taux de remise</th>
            <th>Quantité</th>
            <th>Adresse</th>
            <th>Date de commande</th>
          </tr>
        </thead>
        <tbody>
          <% commandes.forEach(commande => { %>
          <tr>
            <td><%= commande.name %></td>
            <td><%= commande.email%></td>
            <td><%= commande.taux_remise %></td>
            <td><%= commande.quantity %></td>
            <td><%= commande.adresse %></td>
            <td><%= commande.date_commande %></td>
            <td>
              <form action="" method="post">
                <input type="hidden" name="id" value= <%= commande._id %> >
                <button class="btn btn-danger" type="submit">DELETE</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
  </body>
</html>
