<!DOCTYPE html>
<html lang="en">
<title>Gestion de Stocks</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    form {
      border: 500px solid #ffffff;
      margin-top: -400px;
    }


    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      opacity: 0.8;
    }

    .signupbtn {
      
      width: 90px;
      padding: 10px 50px;
      margin-left: 500px;
      margin-top: -450px;
      background-color: #f44336;
    }

    .initcontainer {
      text-align: center;
      margin: 50px 0 12px 0;
    }

    .container {
      padding: 16px;
      margin-top: 300;
    }

    .container2 {
      padding: 16px;
      margin-top: 300;
    }

    span.psw {
      float: right;
      padding-top: 16px;
    }
  </style>

</head>

<body>
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <p>Gestion Stock</p>
    </div>
  </div>

  <form action="/" method="post">
    <div class="initcontainer">
      <h2>Login</h2>
    </div>


    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="Email" required />

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required />

      <button type="submit">Login</button>
    </div>

    
  </form>
<!--
  <div class="container2">
      <button type="submit" class="signupbtn">Login</button>
  </div>
-->

</body>

</html>