<!DOCTYPE html>
<html lang="en">
<title>Gestion de Stocks</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 500px solid #ffffff;
            margin-top: -400px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        .signupbtn {
            width: 90px;
            padding: 10px 15px;
            margin-left: 530px;
            background-color: #f44336;
        }

        .initcontainer {
            text-align: center;
            margin: 50px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;

        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>

</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <p>Gestion Stock</p>
        </div>
    </div>


    <form action="/action_page.php" method="post">
        <div class="initcontainer">
            <h2>Sign up</h2>
        </div>


        <div class="container">
            <label for="Username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="Username" required />

            <label for="Email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="Email" required />

            <label for="Role"><b>Role</b></label>
            </br>
            </br>
            <select name="role-select" id="role-select">
                <option value="0">--Please choose a Role--</option>
                <option value="1">Representant</option>
                <option value="2">Client</option>
            </select>
            </br>
            </br>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required />

            <button type="submit">Sign up</button>
        </div>

        <div class="container" style="background-color:#cfc9c9">
            <a href="/login/register"></a><button class="signupbtn">Return</button>
        </div>
    </form>

</body>

</html>